<p>car-list works!</p>

<table>
  <thead>
  <tr>
    <th>Company Name,</th>
    <th>Model Name,</th>
    <th>Making Year,</th>
    <th>Color,</th>
    <th>Is Electric,</th>
    <img src="images/mustang.jpg" alt="mustang">
    <br> <br>
    <img src="images/Tata.jpg" alt="Tata">
    <br> <br>
    <img src="tesla.jpg" alt="Tesla">
    <br> <br>
    <img src="toyota.jpg" alt="Toyota">
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of carList">
    <td>{{ car.companyName }}</td>
    <td>{{ car.modelName }}</td>
    <td>{{ car.makingYear }}</td>
    <td>{{ car.color }}</td>
    <td>{{ car.isElectric ? 'Yes' : 'No' }}</td>


  </tr>
  </tbody>
</table>



