<form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="mat-form">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>ID</mat-label>
    <input matInput type="number" HighlightOnFocus="darkgrey" id="id" formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Model Name</mat-label>
    <input matInput type="text" HighlightOnFocus="darkgrey" id="modelName" formControlName="modelName" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Making Year</mat-label>
    <input matInput type="text" HighlightOnFocus="darkgrey" id="makingYear" formControlName="makingYear" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Color</mat-label>
    <input matInput type="text" HighlightOnFocus="darkgrey" id="color" formControlName="color" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Company Name</mat-label>
    <input matInput type="text" HighlightOnFocus="darkgrey" id="companyName" formControlName="companyName" />
  </mat-form-field>

  <mat-checkbox formControlName="isElectric" class="checkbox">Is Electric</mat-checkbox>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit" (click)="carForm.invalid">Submit</button>
    <button mat-button type="button" (click)="router.navigate(['/cars'])">Back to Home</button>
  </div>
</form>
