<p>modify-car-list-item works!</p>

<form [formGroup]="carForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" HighlightOnFocus="darkgrey" id="id" formControlName="id" required />
  </div>

  <div class="form-group">
    <label for="modelName">Model Name</label>
    <input type="text" HighlightOnFocus="darkgrey" id="modelName" formControlName="modelName" required />
  </div>

  <div class="form-group">
    <label for="makingYear">Making Year</label>
    <input type="text" HighlightOnFocus="darkgrey" id="makingYear" formControlName="makingYear" required />
  </div>

  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" HighlightOnFocus="darkgrey" id="color" formControlName="color" required />
  </div>

  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input type="text" HighlightOnFocus="darkgrey" id="companyName" formControlName="companyName" required />
  </div>

  <div class="form-group">
    <label for="isElectric">Is Electric</label>
    <input type="checkbox" HighlightOnFocus="darkgrey" id="isElectric" formControlName="isElectric" />
  </div>

  <button type="submit" (click)="carForm.invalid">Submit</button>
  <button type="button" (click)="router.navigate(['/cars'])">Back to Home</button>

</form>
